body
{
	height: 100%;
	width: 100%;
}
section
{
	/*overflow: hidden !important;*/
	
	height: 100%;
	width: 100%;
	position: relative;
	z-index: 1;
}
#Section1
{

	background: url("../img/BG2.jpg") no-repeat center center fixed !important;
	 

	-webkit-background-size: cover !important; 
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  
  opacity: .6;
}

.jumbotron
{
	margin-top: 24%;
	z-index: 3;
	opacity: .6 !important;
	margin-bottom: 0px !important;
	max-width: 50%;
	margin-left: 27%;
	padding: 10px !important;
	
}


#Intro
{
	z-index: 3 !important;
	opacity: 1 !important;
	text-align: center;
	color: green;
	font-weight: bolder;
	font-size: 59px;
}
.Glyp_Center
{
	margin-left: 40%;
	margin-top: 10%;
}


@media only screen and (min-height:0px)
{
	section
	{
		min-height: 760px;
		overflow: hidden;
	}
}

